.product-image { display: none !important; }

html, body, .containerx {
    height: 100%;
}

.containerx {
    display: -webkit-flexbox !important;
    display: -ms-flexbox  !important;
    display: -webkit-flex  !important;
    display: flex  !important;
    -webkit-flex-align: center  !important;
    -ms-flex-align: center  !important;
    -webkit-align-items: center  !important;
    align-items: center  !important;
    justify-content: center  !important;
    ____________margin-top: -500px !important;
}

video {
	z-index: -99999 !important;
	width: 100% !important;
  	object-position:center;
    	object-fit:cover !important;
}
.video-size { 
	height: 0px !important; 
	  z-index: -99999 !important;
}
.hero { 
	background-color: transparent !important;
}
.hero h1 { 
	padding-top: 20px !important;	
	color: white; }

